In [ ]:
"""
This file was used to input data into a .csv file, clean the data using pandas,
and organize the data to be written into a MySQL .db file format.
"""

In [1]:
import pandas as pd 
from datetime import datetime

In [ ]:
def batch_input(file_name):
    if not ".csv" in file_name: 
        file_rename = file_name + ".csv" 
    output_file = open(file_rename, "a", newline = "")
    output_writer = csv.writer(output_file, lineterminator = "\n")
    user_input = ""

    while user_input != "q".lower(): 
        user_input = input("Please input your data. \n")
        if user_input == "q".lower():
            print("Goodbye!\n")
            output_file.close()
            break
        else:
            output_writer.writerow(user_input.split())
            continue

In [ ]:
def string_to_integer(list_string):
    try:
        converted_list = list_string.copy()
        for i in converted_list:
            if i.isdigit() == True:
                integer = int(i)
                index = converted_list.index(i)
                converted_list.pop(index)
                converted_list.insert(index, integer)
        return converted_list
    except:
        print("Error!")

In [ ]:
# This is a function for writing workout data into csv from user input. 
batch_input("workout_data_raw")

In [2]:
column_names = "exercise, sets, reps, weight_lbs, datetime, duration_minutes".split(", ")
column_names

['exercise', 'sets', 'reps', 'weight_lbs', 'datetime', 'duration_minutes']

In [3]:
exercise_names = "BackSquat OverheadSquat FrontSquat BenchPress Deadlift Snatch Clean&Jerk ShoulderPress SnatchPress".split()
exercise_names

['BackSquat',
 'OverheadSquat',
 'FrontSquat',
 'BenchPress',
 'Deadlift',
 'Snatch',
 'Clean&Jerk',
 'ShoulderPress',
 'SnatchPress']

In [4]:
workout_data_raw = pd.read_csv("workout_data_raw.csv")

In [5]:
workout_data_raw.head()

        exercise  sets  reps  weight_lbs   datetime  duration_minutes
0     Clean&Jerk     3     7          65  7/24/2018               NaN
1     BenchPress     3     7          65  7/24/2018               NaN
2  ShoulderPress     2     7          65  7/25/2018               NaN
3  ShoulderPress     1    10          65  7/25/2018               NaN
4      BackSquat     3     5          65  7/23/2018               NaN

In [6]:
workout_data_raw.fillna("", inplace = True)
workout_data_raw.head()

        exercise  sets  reps  weight_lbs   datetime duration_minutes
0     Clean&Jerk     3     7          65  7/24/2018
1     BenchPress     3     7          65  7/24/2018
2  ShoulderPress     2     7          65  7/25/2018
3  ShoulderPress     1    10          65  7/25/2018
4      BackSquat     3     5          65  7/23/2018

In [7]:
# Note: the exercise names do not match the exercise names from above. 
workout_data_raw["exercise"].unique()

array(['Clean&Jerk', 'BenchPress', 'ShoulderPress', 'BackSquat',
       'FrontSquat', 'OverheadSquat', 'Deadlifts', 'Snatch',
       'FrontSquats', 'Deadlift', 'ShouldPress', 'BackSquats',
       'SnatchPress'], dtype=object)

In [8]:
# Need to change "BackSquats" to "BackSquat" for consistency.
rename_exercise = workout_data_raw.index[workout_data_raw["exercise"] == "BackSquats"].tolist()
for i in rename_exercise:
    workout_data_raw["exercise"][i] = "BackSquat"
workout_data_raw["exercise"].unique()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

array(['Clean&Jerk', 'BenchPress', 'ShoulderPress', 'BackSquat',
       'FrontSquat', 'OverheadSquat', 'Deadlifts', 'Snatch',
       'FrontSquats', 'Deadlift', 'ShouldPress', 'SnatchPress'],
      dtype=object)

In [9]:
# Need to change "FrontSquats" to "FrontSquat" for consistency. 
rename_exercise = workout_data_raw.index[workout_data_raw["exercise"] == "FrontSquats"].tolist()
for i in rename_exercise:
    workout_data_raw["exercise"][i] = "FrontSquat"
workout_data_raw["exercise"].unique()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

array(['Clean&Jerk', 'BenchPress', 'ShoulderPress', 'BackSquat',
       'FrontSquat', 'OverheadSquat', 'Deadlifts', 'Snatch', 'Deadlift',
       'ShouldPress', 'SnatchPress'], dtype=object)

In [10]:
# Need to change "Deadlifts" to "Deadlift" for consistency. 
rename_exercise = workout_data_raw.index[workout_data_raw["exercise"] == "Deadlifts"].tolist()
for i in rename_exercise:
    workout_data_raw["exercise"][i] = "Deadlift"
workout_data_raw["exercise"].unique()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

array(['Clean&Jerk', 'BenchPress', 'ShoulderPress', 'BackSquat',
       'FrontSquat', 'OverheadSquat', 'Deadlift', 'Snatch', 'ShouldPress',
       'SnatchPress'], dtype=object)

In [11]:
# Need to change "ShouldPress" to "ShoulderPress" for consitency. 
rename_exercise = workout_data_raw.index[workout_data_raw["exercise"] == "ShouldPress"].tolist()
for i in rename_exercise:
    workout_data_raw["exercise"][i] = "Deadlift"
workout_data_raw["exercise"].unique()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

array(['Clean&Jerk', 'BenchPress', 'ShoulderPress', 'BackSquat',
       'FrontSquat', 'OverheadSquat', 'Deadlift', 'Snatch', 'SnatchPress'],
      dtype=object)

In [12]:
workout_data_raw.to_csv(r'C:\Users\jacqu\Desktop\Github Portfolio\weightlifting-workout-tracker\workout_data_clean.csv')

In [13]:
workout_data_clean = pd.read_csv("workout_data_clean.csv")
workout_data_clean.head()

,Unnamed: 0,exercise,sets,reps,weight_lbs,datetime,duration_minutes
0,0,Clean&Jerk,3,7,65,7/24/2018,NaN
1,1,BenchPress,3,7,65,7/24/2018,NaN
2,2,ShoulderPress,2,7,65,7/25/2018,NaN
3,3,ShoulderPress,1,10,65,7/25/2018,NaN
4,4,BackSquat,3,5,65,7/23/2018,NaN

In [14]:
workout_data_clean.fillna(-1, inplace=True)
workout_data_clean.head()

,Unnamed: 0,exercise,sets,reps,weight_lbs,datetime,duration_minutes
0,0,Clean&Jerk,3,7,65,7/24/2018,-1.0
1,1,BenchPress,3,7,65,7/24/2018,-1.0
2,2,ShoulderPress,2,7,65,7/25/2018,-1.0
3,3,ShoulderPress,1,10,65,7/25/2018,-1.0
4,4,BackSquat,3,5,65,7/23/2018,-1.0

In [15]:
workout_data_clean.drop(columns = ["Unnamed: 0"], inplace = True)
workout_data_clean.head()

        exercise  sets  reps  weight_lbs   datetime  duration_minutes
0     Clean&Jerk     3     7          65  7/24/2018              -1.0
1     BenchPress     3     7          65  7/24/2018              -1.0
2  ShoulderPress     2     7          65  7/25/2018              -1.0
3  ShoulderPress     1    10          65  7/25/2018              -1.0
4      BackSquat     3     5          65  7/23/2018              -1.0

In [16]:
workout_data_clean.head()

        exercise  sets  reps  weight_lbs   datetime  duration_minutes
0     Clean&Jerk     3     7          65  7/24/2018              -1.0
1     BenchPress     3     7          65  7/24/2018              -1.0
2  ShoulderPress     2     7          65  7/25/2018              -1.0
3  ShoulderPress     1    10          65  7/25/2018              -1.0
4      BackSquat     3     5          65  7/23/2018              -1.0

In [17]:
# Check to see if .csv headers match .db headers
col_headers = set(list(workout_data_clean))
col_headers == set(column_names)

True

In [18]:
# Check to see if exercise_names have duplicates or errors
set(exercise_names) == set(workout_data_clean["exercise"].unique())

True

In [19]:
workout_data_list = workout_data_clean.values.tolist()
workout_data_list[0:5]

[['Clean&Jerk', 3, 7, 65, '7/24/2018', -1.0],
 ['BenchPress', 3, 7, 65, '7/24/2018', -1.0],
 ['ShoulderPress', 2, 7, 65, '7/25/2018', -1.0],
 ['ShoulderPress', 1, 10, 65, '7/25/2018', -1.0],
 ['BackSquat', 3, 5, 65, '7/23/2018', -1.0]]

In [20]:
len(workout_data_list)

347

In [21]:
# This changes the "%m/%d/%Y" string format in the list to datetime format "%Y-%m-%d %H:%M:%S"
for i in range(len(workout_data_list)):
    try:
        temp = datetime.strptime(workout_data_list[i][4], "%m/%d/%Y")
        temp.strftime("%Y-%m-%d %H:%M:%S")
        workout_data_list[i][4] = temp
    except:
        pass

In [22]:
# This changes the "%Y-%m-%dT%H-%M-%S" string format in the list to datetime format "%Y-%m-%d %H:%M:%S"
for i in range(len(workout_data_list)):
    try:
        temp = datetime.strptime(workout_data_list[i][4], "%Y-%m-%dT%H:%M:%S")
        temp.strftime("%Y-%m-%d %H:%M:%S")
        workout_data_list[i][4] = temp
    except:
        pass

In [23]:
# This changes the "%Y-%m-%dT%H-%M-%S" string format in the list to datetime format "%Y-%m-%d %H:%M:%S"
for i in range(len(workout_data_list)):
    try:
        temp = datetime.strptime(workout_data_list[i][4], "%Y-%m-%dT%H-%M-%S")
        temp.strftime("%Y-%m-%d %H:%M:%S")
        workout_data_list[i][4] = temp
    except:
        pass

In [24]:
workout_data_list[0:5]

[['Clean&Jerk', 3, 7, 65, datetime.datetime(2018, 7, 24, 0, 0), -1.0],
 ['BenchPress', 3, 7, 65, datetime.datetime(2018, 7, 24, 0, 0), -1.0],
 ['ShoulderPress', 2, 7, 65, datetime.datetime(2018, 7, 25, 0, 0), -1.0],
 ['ShoulderPress', 1, 10, 65, datetime.datetime(2018, 7, 25, 0, 0), -1.0],
 ['BackSquat', 3, 5, 65, datetime.datetime(2018, 7, 23, 0, 0), -1.0]]

In [25]:
workout_data_list[0:5]

[['Clean&Jerk', 3, 7, 65, datetime.datetime(2018, 7, 24, 0, 0), -1.0],
 ['BenchPress', 3, 7, 65, datetime.datetime(2018, 7, 24, 0, 0), -1.0],
 ['ShoulderPress', 2, 7, 65, datetime.datetime(2018, 7, 25, 0, 0), -1.0],
 ['ShoulderPress', 1, 10, 65, datetime.datetime(2018, 7, 25, 0, 0), -1.0],
 ['BackSquat', 3, 5, 65, datetime.datetime(2018, 7, 23, 0, 0), -1.0]]

In [26]:
workout_data_tuple = [tuple(i) for i in workout_data_list]
workout_data_tuple[0:5]

[('Clean&Jerk', 3, 7, 65, datetime.datetime(2018, 7, 24, 0, 0), -1.0),
 ('BenchPress', 3, 7, 65, datetime.datetime(2018, 7, 24, 0, 0), -1.0),
 ('ShoulderPress', 2, 7, 65, datetime.datetime(2018, 7, 25, 0, 0), -1.0),
 ('ShoulderPress', 1, 10, 65, datetime.datetime(2018, 7, 25, 0, 0), -1.0),
 ('BackSquat', 3, 5, 65, datetime.datetime(2018, 7, 23, 0, 0), -1.0)]

In [27]:
workout_data_database = pd.DataFrame(workout_data_tuple)
workout_data_database.head()

               0  1   2   3          4    5
0     Clean&Jerk  3   7  65 2018-07-24 -1.0
1     BenchPress  3   7  65 2018-07-24 -1.0
2  ShoulderPress  2   7  65 2018-07-25 -1.0
3  ShoulderPress  1  10  65 2018-07-25 -1.0
4      BackSquat  3   5  65 2018-07-23 -1.0

In [28]:
workout_data_database.columns = column_names
workout_data_database.head()

        exercise  sets  reps  weight_lbs   datetime  duration_minutes
0     Clean&Jerk     3     7          65 2018-07-24              -1.0
1     BenchPress     3     7          65 2018-07-24              -1.0
2  ShoulderPress     2     7          65 2018-07-25              -1.0
3  ShoulderPress     1    10          65 2018-07-25              -1.0
4      BackSquat     3     5          65 2018-07-23              -1.0

In [29]:
workout_data_database.to_csv(r'C:\Users\jacqu\Desktop\Github Portfolio\weightlifting-workout-tracker\workout_data_database.csv')